<!-- views/dashboard.ejs -->
<!doctype html>
<html>
  <head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
      body { padding-top:80px; }
    </style>
  </head>
  <body>
    <div class="container">
      <!-- Participation -->
      
      <!-- whitelisting -->
      <% if (userCan('whitelist bars')) { %>
        <h1> Manage Bars</h1>
        <h2> Whitelisted Bars </h2>
        <!-- whitelisted bars from /bars -->
        <h2> Availible bars </h2>
        <div class="google-places-list"></div>
      <% } %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
      $.get("http://localhost:8080/races", function(data, status) {

      });
    </script>
  </body>
</html>